.wrapper
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 0
  height: 100%

.wrapper > .col
  grid-column: 1 / 2
  grid-row: 1

.mat-toolbar
  background: white
  color: #0A2240

.flexExpand
    flex: 1 1 auto

#images-container
  background-color: #0A2240

.footer
  justify-content: center
  display: flex
  color: #9AA0A4
  font-family: 'Open Sans'
  font-weight: 400
  font-size: 16px
  line-height: 20px
  padding: 17px
  margin-bottom: 6px
  border-top: 1px solid #eff5fa
