<div style="width: 66%; margin-left: 17%;">
  <form style="width: 100%;">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Correo electrónico</mat-label>
      <input matInput>
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password">
      <mat-icon matSuffix>visibility</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Celular</mat-label>
      <input matInput>
      <mat-icon matSuffix></mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-checkbox>Acepto los <a href="#" class="link-figma">Términos, Condiciones y Políticas de Privacidad.</a></mat-checkbox>
    <button type="submit" style="width: 100%;" mat-raised-button color="primary">Crear cuenta</button>
  </form>
</div>
